html body {
    overflow-x: hidden;
    max-width: 100%;
    background: linear-gradient(to bottom, rgb(32, 32, 32), rgb(32, 32, 32));
}

@media (prefers-reduced-motion: no-preference) {
    :root {
      scroll-behavior: smooth;
    }
  }

@media (max-width:768px) {
    .col-sm-3 {
        flex: 0 0 auto;
        width: 25%;
    }

    .col-sm-4 {
        flex: 0 0 auto;
        width: 33.33333333%;
    }
}

.height-page {
    height: 125vh;
}

::-webkit-scrollbar {
    width: 7px !important;
    background-color: black !important;
}

::-webkit-scrollbar-track {
    border-radius: 5px !important;
    -webkit-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.034) !important;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.034) !important;
}

::-webkit-scrollbar-thumb {
    border-radius: 5px !important;
    background-color: #0580ba !important;
}

*::selection {
    background: #0580ba;
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px #858585;
}

*::-moz-selection {
    background: #0580ba;
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px #858585;
}

@media (min-width: 768px) {

    .container,
    .container-md,
    .container-sm {
        max-width: 860px !important;
    }
}

@media (min-width: 1200px) {

    .container,
    .container-md,
    .container-sm {
        max-width: 1200px !important;
    }
}

#about-me{
    scroll-padding: 100px;
    scroll-margin-top: 4.5em;
}

#projects{
    scroll-padding: 100px;
    scroll-margin-top: 5.5em;
    height: 80vh;
}

#skills{
    scroll-padding: 100px;
    scroll-margin-top: 4em;
}

#contact{
    scroll-padding: 100px;
    scroll-margin-top: 4em;
}

@media (min-width:768px) {
    #about-me{
        scroll-padding: 100px;
        scroll-margin-top: 12em;
    }
    
    #projects{
        scroll-padding: 100px;
        scroll-margin-top: 10em;
        height: 80vh;
    }
    
    #skills{
        scroll-padding: 100px;
        scroll-margin-top: 6em;
    }

    #contact{
        scroll-padding: 100px;
        scroll-margin-top: 9em;
    }
}

@media (max-height: 700px){
    #about-me{
        scroll-padding: 100px;
        scroll-margin-top: 8em;
    }
    #projects{
        scroll-padding: 100px;
        scroll-margin-top: 7.5em;
        height: 100vh;
    }
}